body {
  font-family: "PT Sans Narrow", sans-serif;
}
/* #body {
  background-color: red;
} */
.navbar-brand h1 {
  font-size: 27px;

  color: hsl(38, 86%, 64%);
  font-weight: 600;
}
.navbar-brand img {
  margin-right: 6px;
}

#search {
  width: 60%;
  margin: auto;
  height: 40px;
  font-size: 20px;
  padding-left: 3px;
}

#header {
  font-size: 25px;
  font-weight: lighter;
  margin-top: -20px;
  margin-bottom: 80px;
  position: relative;
}

#middle-header {
  font-size: 25px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
  color: hsl(38, 86%, 64%);
}

.label {
  position: relative;
  font-weight: 450;
}

.field {
  margin-top: 20px;
}

.modal-content {
  overflow-y: hidden;
  overflow-x: hidden;
}

.login-prompts {
  font-size: 15px;
  font-weight: unset;
  margin-top: 240px;
}

#login {
  font-weight: bolder;
}

.register {
  background-color: rgb(200, 202, 208);
  font-weight: bold;
}

.login {
  border: 1px solid black !important;
  font-weight: bold;
}

.user-avatar {
  margin: auto;
  margin-right: 15px;
}

.header3 {
  font-size: 30px;
  font-weight: bold;
}

.comLogo {
  max-width: 30px;
  max-height: 30px;
}

.icon {
  pointer-events: none;
}
