html {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #dae0e6;
}

.navbar-brand h1 {
  font-size: 27px;

  color: hsl(38, 86%, 64%);
  font-weight: 600;
}
.navbar-brand img {
  margin-right: 6px;
}

.navbar {
  border-bottom: 1px solid #d6dbdb;
}

#search {
  width: 60%;
  margin: auto;
  height: 40px;
  font-size: 20px;
  padding-left: 3px;
}

#header {
  font-size: 25px;
  font-weight: lighter;
  margin-top: -20px;
  margin-bottom: 80px;
  position: relative;
}

#middle-header {
  font-size: 25px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
  color: hsl(38, 86%, 64%);
}

.label {
  position: relative;
  font-weight: 450;
}

.field {
  margin-top: 20px;
}

.modal-content {
  overflow-y: hidden;
  overflow-x: hidden;
}

.login-prompts {
  font-size: 15px;
  font-weight: unset;
  margin-top: 240px;
}

#login {
  font-weight: bolder;
}

.register {
  background-color: rgb(200, 202, 208);
  font-weight: bold;
}

.login {
  border: 1px solid black !important;
  font-weight: bold;
}

.user-avatar {
  margin: auto;
  margin-right: 15px;
}

.header3 {
  font-size: 30px;
  font-weight: bold;
}

.comLogo {
  max-width: 30px;
  max-height: 30px;
}

.icon {
  pointer-events: none;
}

.newPost {
  margin-top: 60px;
  background-color: white;
  border-radius: 1ex;
}

.DraftEditor-root {
  border: 1px solid black;
}

.postCard1-header {
  font-size: 13px;
  color: grey;
  margin-left: -30px;
}

.postCard1-title {
  margin-top: -25px;
  font-size: 20px;
  font-weight: bold;
}
.is-parent {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #c9c8c8;
}
.is-parent:hover {
  border: 1px solid #9f9f9f;
}

.community-icon-landing {
  margin-top: -14px;
  min-width: 30px;
  margin-left: -70px;
}

.postCard1-body {
}

a {
  text-decoration: none !important;
  color: #040404;
}

a:hover {
  text-decoration: none !important;
}

.underline {
  color: #54564d;
}

.underline:hover {
  text-decoration: underline !important;
}

.sidebar-column {
  padding-left: 10px;
  height: auto;
  width: 33px !important;
  background-color: #dedfdc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.postInfo {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: -30px;
  opacity: 0.5;
}
.postInfoChild {
  margin-bottom: -15px;
  margin-left: -35px;
  font-size: 10px;
  font-weight: bold;
}

.postInfoChild:hover {
  opacity: 0.7;
}
.infoTitle {
  font-size: 13px;
}

.notification {
  border-radius: 2px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.share-icon {
  margin-left: -120px;
}

#blue-fade {
  margin: 10px;
  margin-top: -120px;
  font-size: 12px;
  color: #1ba0d7;
}

#blue-fade:hover {
  text-decoration: underline !important;
}

.link-image {
  margin-left: auto;
  margin-top: -100px;
  margin-bottom: auto;
  height: 30vh;
  min-height: auto;
}

.row:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 90px, white);
}

/* arrows */
.arrow {
  border: solid rgb(142, 129, 129);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;

  margin-top: 8px;
  margin-left: 6px;
}

.arrow-up:hover {
  border-color: #60b179;
}
.arrow-down:hover {
  border-color: rgb(186, 105, 35);
}
.arrow-shadow {
  margin-left: -6px;
  width: 25px;
  height: 25px;
}
.arrow-shadow:hover {
  background-color: rgb(203, 201, 201);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.upvoted {
  border-color: #88fcab;
}
.downvoted {
  border-color: rgb(255, 144, 47);
}

.postKarma {
  margin-left: 2px;
}

/* upFooter */

.upFooter {
  width: 100%;
  height: 90px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding-top: 60px;
  padding-left: 23vw;
  font-size: 15px;
  font-weight: bold;
}

.is-static {
  margin-top: -6px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  padding-left: 5px;
}
